.SongList {
    /* display: flex; */
    justify-content: center;
    margin-top: 3vh;
    margin-left: 3vh;
}

.SongList .box {

    border: 1px solid #333;
    background-color: rgba(243, 174, 113, 0.788);
    padding: 1rem;
    margin: 2rem;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.SongList h1 {
    display: flex;
    text-align: center;
    /* margin-top: 1rem; */
}

.split {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }
  
.left {
    left: 0;
  }
  
.right {
    border-left: 2px solid black;
    height: 50%;
    position: fixed;
    left: 50%;
    right: 0;
    padding: 2rem;
    margin-top: 6rem;
  }
